body {
  background-color: #000;
}
main {
  color: #2a07f3;
  background-color: white;
  width: 500px;
  border: 2px solid tomato;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
span {
  font-size: 20px;
}
input[type="number"] {
  width: 350px;
  height: 30px;
  margin: 10px 0;
}
input[type="button"] {
  width: 360px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(197, 195, 46);
  color: white;
  font-size: 20px;
}
input[type="button"]:hover {
  background-color: white;
  color: rgb(197, 195, 46);
}
main div:nth-child(5) h2,
div:nth-child(6) h2 {
  font-size: 20px;
  display: flex;
}

#Mehwertsteuer,
#Bruttobetrag {
  font-size: 25px;
}
